@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: orangered;
    color: gold;
    font-family: rubik;
	text-align: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} 

h1 {
    text-align: center;
	font-size: 3rem;
}